# VSCode files
__pycache__/

# Environment Variables
.env

# Credentials Folder contents but not the folder
credentials/*
!credentials/.gitkeep

# Data
*.csv

# Virtual Env
.my_env/

# Environment Variables
.env_main
.env


# Data files
# exclude any folder named data anywhere in the repo
data/

# exception to the rule to keep the folder itself
!data/.gitkeep 
!aq_upload/.gitkeep

# ipyb checkpoints
.ipynb_checkpoints


